<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="4.0.1" targetFramework="net45" />
  <package id="RfidBus.Primitives" version="4.0.3.0" targetFramework="net45" />
  <package id="RfidBus.Serializers.Ws" version="3.6.1.0" targetFramework="net45" />
  <package id="RfidCenter.Basic.dll" version="2.4.4.1" targetFramework="net45" />
  <package id="RfidCenter.Devices" version="4.0.5.2" targetFramework="net45" />
  <package id="RfidCenter.Printing" version="3.3.0.0" targetFramework="net45" />
  <package id="SuperWebSocket" version="0.10" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net45" />
</packages>