<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MemberIdentification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MadiStand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RfidCenter.Basic" publicKeyToken="c77c3fea3fdc4436" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.4.1" newVersion="2.4.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RfidBus.Primitives" publicKeyToken="c77c3fea3fdc4436" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RfidCenter.Devices" publicKeyToken="c77c3fea3fdc4436" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.2" newVersion="4.0.5.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RfidCenter.Printing" publicKeyToken="c77c3fea3fdc4436" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MemberIdentification.Properties.Settings>
      <setting name="BusHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="BusPort" serializeAs="String">
        <value>7266</value>
      </setting>
      <setting name="BusLogin" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="BusPassword" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="ListenReader" serializeAs="String">
        <value>52478302-ac11-4b3b-9bbd-e4b7c4c3627e</value>
      </setting>
      <setting name="NewCardHeight" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="OldCardheight" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=resources\db.mdb;user id=;password=;</value>
      </setting>
      <setting name="MaxHistoryItemsCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="InitialsFontSize" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="OccupationFontSize" serializeAs="String">
        <value>20</value>
      </setting>
    </MemberIdentification.Properties.Settings>
    <MadiStand.Properties.Settings>
      <setting name="BusHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="BusPort" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="BusLogin" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="BusPassword" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="ListenReader" serializeAs="String">
        <value>ea47ab4a-812c-45d3-ad95-f0e92ec4a634</value>
      </setting>
      <setting name="NewCardHeight" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="OldCardheight" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=resources\db.mdb;user id=;password=;</value>
      </setting>
      <setting name="MaxHistoryItemsCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="InitialsFontSize" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="OccupationFontSize" serializeAs="String">
        <value>20</value>
      </setting>
    </MadiStand.Properties.Settings>
  </applicationSettings>
</configuration>